@import url("https://fonts.googleapis.com/css?family=Martel+Sans:400,700");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Martel Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 1vw;
  line-height: 1.8vw;
}

.introduction {
  color: #192aa3;
  margin-left: 29vw;
  -webkit-width: 24vw;
  -moz-width: 24vw;
  column-width: 24vw;
  column-gap: 50px;
}
.introduction p {
  padding-right: 8vw;
}
